$color-main: #00BC9C;
$color-bar: #2A3F54;
$color-bg: #F7F7F7;
$color-orange: #F6A810;
$color-red: #DB524B;
$color-blue: #539CDB;
$color-green: #58B957;
$color-lightblue: #56C0E0;
$color-orange-cur: #EE9800;
$color-red-cur: #CB2E25;
$color-blue-cur: #2F79B9;
$color-green-cur: #00A085;
$color-title: #73879C;
$color-singleline: #333333;
$color-multiline: #666666;
$color-text: #999999;
$color-input: #cccccc;
$color-outline: #E6E6E6;
$color-white: #FFFFFF;
$borderInput:1px solid $color-input;